body {
	position:relative;
	background-color:rgb(242,232,220);
	font-size: 15;
	}

#headmenu
{
	border-bottom-width: 20px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
}
#CommentArea
{
	height:inherit;
}
#user_menu{
 
    background-color: gray;
    list-style: none;
    display:inline;
    text-align: right;
}
#recom{
	position: relative;
	top:40px;
}
#user_menu li
{
	position:relative;
    display: inline;
    text-align: right;
    
    border-style: solid;
    border-left-width:15px;
    border-left-color: gray; 
    
}
#UpdateVideoForm {
list-style:none;
text-align:left;
}
#VideoThumb {
	border-style:solid;
	position:relative;
	border-bottom-width:20px;
	border-color:gray;

	height:130px;
	width: 675px;
}

#VideoThumb img
{
	position: absolute;
	left:0px;
	top: 0px;
}
#VideoThumb label
{
	position:absolute;
	left:200px;
	top:10px;

}
#VideoThumb p
{
	position:absolute;
	left:200px;
	text-align: Left;
	width:360px;
}

body {
text-align:center;
position:relative;
top:40px;
}
#userinfo
{
	text-align: left;

}

#progress
{
	background-color: orange;
	position:relative;
	top:80px;
	height:100px;
}

#mainPage {
background-color:rgb(166,149,134);
/*width:700px;*/
height:auto;
}

h1 {
}
#Categories {

background:rgb(2,89,73);
text-align:left;
position:relative;
height: 170px;

border-bottom-style: solid;
border-bottom-width: 20px;
border-bottom-color: rgb(242,232,220);

}

#Categories a {
color:#fff;
cursor:pointer;
display:block;
height:25px;
line-height:25px;
text-indent:10px;
text-decoration:none;
}

#Categories a:hover {
text-decoration:underline;
background-color:orange;
}

#Categories li {
height:35px;
list-style:none;
}

.headMenu {
}

#NavMenu {
display:inline;
list-style:none;
padding:0;
margin:0;
}

#IconImage {
float:right;
}

#head {
background-color:black;
}

#placeholder {
background-color:transparent;
}

#Footer {
background-color:rgb(131,167,122);
height:100px;
}

#AdBar {
height:120px;
background-color:rgb(131,167,122);
border-bottom-style: solid;
border-bottom-color: rgb(242,232,220);
border-bottom-width: 20px;
}

#VideoContainer
{
	width: 700px;
	text-align: center;
	background-color:rgb(166,149,134);
}

#VideoContainer #BottemVideoPanel
{
	
	text-align: center;
	position: relative;
	padding: 20px;
}

